// colors
$color1:  #4ca6ff;
//$color1:  #df0726;
//$color1:  #462C5E;
$color2:  $color1;
//$color2:  #FEA91F;
$black : #0d0d0d;

$dark-black : #0d0d0d;
$white : #ffffff;

// fonts
$sans : "Roboto" , "Helvetica", sans-serif;
$sans-serif : "Open Sans" ,"Roboto",  "Helvetica", sans-serif;
$serif : "Playfair Display" , "Helvetica", sans-serif;

// size
$text-size : 14px;
$text-small : 14px;